*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(https://images.unsplash.com/photo-1542401886-65d6c61db217?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-repeat: no-repeat;
    background-size: cover, cover;
    text-align: center;
}
.header{
  margin: 5rem;
}

#countdownHead {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 32px;
    width: 100%;
    gap: 5rem;
}

